= render 'pages/intro'
= render 'pages/skills'
= render 'pages/news_letter'
= render 'pages/showcase'
= render 'pages/quote'
= render 'pages/blog'
= render 'pages/contact'





-# = javascript_include_tag 'scripts-min'
= javascript_include_tag 'headroom.min'
= javascript_include_tag 'jquery.fitvids'
= javascript_include_tag 'jquery.flexslider'
= javascript_include_tag 'jquery.headroom'
= javascript_include_tag 'jquery.stellar.min'
= javascript_include_tag 'owl.carousel'
= javascript_include_tag 'scripts'

:javascript
  $(document).ready(function(){
  
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    autoPlay: 1000,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
    })
  });