-# = render 'pages/intro'
-# = render 'pages/intro_text'
-# = render 'pages/skills'
-# = render 'pages/news_letter'
= render 'pages/portfolio'
-# = render 'pages/quote'
-# = render 'pages/blog'
-# = render 'pages/contact'


-# = javascript_include_tag 'scripts-min'
= javascript_include_tag 'headroom.min'
= javascript_include_tag 'jquery.fitvids'
= javascript_include_tag 'jquery.flexslider'
= javascript_include_tag 'jquery.headroom'
= javascript_include_tag 'jquery.stellar.min'
-# = javascript_include_tag 'owl.carousel.min'
= javascript_include_tag 'scripts-min'
= javascript_include_tag 'slick.min'

:javascript
  $().ready(function(){
      $('[rel="tooltip"]').tooltip();
      
      $('a.scroll-down').click(function(e){
          e.preventDefault();
          scroll_target = $(this).data('href');
           $('html, body').animate({
               scrollTop: $(scroll_target).offset().top - 60
           }, 1000);
      });

  });
  


:javascript
  function rotateCard(btn){
      var $card = $(btn).closest('.card-container');
      console.log($card);
      if($card.hasClass('hover')){
          $card.removeClass('hover');
      } else {
          $card.addClass('hover');
      }
  }
